__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

.coverage
coverage.xml
htmlcov/

.dist/
.build/
*.egg-info/
.eggs/

.idea/
.vSCode/
*.swp
*.swo

.git/
.gitignore
.gitattributes

.DS_Store
Thumbs.db

.env
.env.*
*.log

tests/
docs/
examples/

node_modules/
npm-debug.log
yarn-error.log

docker-compose.yml
docker-compose.*.yml
Dockerfile*